# Entorno virtual
venv/
.venv/
env/
ent-virtual/

# Archivos de Python
_pycache_/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Archivos de Rasa
.rasa/
models/
*.db
*.json
*.log

# Archivos ocultos o de sistema
.DS_Store
Thumbs.db

# Archivos del IDE
.vscode/
.idea/

# Variables de entorno
.env

# Archivos de test o cache
.cache/
pytest_cache/

# Otros
*.swp